---
import { Features } from "../components/home/features"
import { Hero } from "../components/home/hero"
import { Navbar } from "../components/navbar"
import "@fontsource/roboto"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-secondary">
		<Navbar />
		<Hero client:load />
		<Features />
	</body>
</html>
